*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* logo bar */

.logo {
    font-size: 38px;
    font-weight:bold;
    padding:5px 0px 5px 10px;
}

.logo img {
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
}
.logo_name {
    display: inline-block;
    vertical-align: middle; 
} 

/* content  */

main {
    background-color: lightgray;
}

.buttons_bar {
    padding: 10px 50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: white;
}
    
.buttons_bar button{
    border-radius: 6px; 
    padding: 2px 8px;
}
.center_content {
    width: 500px;
    background-color: white;
    border: 1px solid black
    

    
}











