*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* logo bar */

.logo {
    font-size: 38px;
    font-weight:bold;
    padding:5px 0px 5px 10px;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
}
.logo_name {
    display: inline-block;
    vertical-align: middle; 
} 

/* content  */

main {
    background-color: lightgray;
    padding:30px 200px
}

.buttons_bar {
    padding: 10px 0;
    background-color: white;
    padding:10px 50px;
    border-bottom: 2px solid lightgrey;
}
    
.buttons_bar button{
    border-radius: 6px; 
    padding: 2px 8px;
}
 .content {
     background-color: white;
 }













